.app_container {
  background-color: #ccc;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* 
body {
  background: rgb(54, 217, 182);
  background: linear-gradient(
    90deg,
    rgb(101, 241, 211) 0%,
    rgb(182, 248, 234) 43%,
    rgb(152, 234, 250) 100%
  );
} */

h1,
h2,
h3,
h4,
h5,
p,
span,
strike {
  font-family: "Montserrat", sans-serif;
}
